<h1>Flickity - autoPlay</h1>

<!-- Flickity HTML init -->
<div class="carousel" data-flickity='{ "autoPlay": true }'>
<div class="carousel-cell"><div class="content"></div></div>
<div class="carousel-cell"><div class="content"></div></div>
<div class="carousel-cell"><div class="content"></div></div>
<div class="carousel-cell"><div class="content"></div></div>
<div class="carousel-cell"><div class="content"></div></div>
</div>
